<!DOCTYPE html>
<html>

<head>
  <title>Payment Store</title>
  <link rel="stylesheet" href="">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Buy Cars</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="https://images5.alphacoders.com/821/thumb-1920-821422.jpg" width="500"
        height="400" alt="">
    </div>
    <div class="col-md-4">
      <h3>Koenigsegg Agera</h3>
      <p>Koenigsegg Agera is a mid-engine sports
        car produced by Swedish car manufacturer Koenigsegg.
      </p>
      <h3>Car Details</h3>
      <ul>
        <li>Base price: CA$2,500,000(estimated)</li>
        <li>Engine: 5,0 l V8</li>
        <li>Power: 1,160 hp @ 7,800 rpm (865 kW)</li>
        <li>Torque: 944 lb·ft @ 4,100 rpm (1,280 N·m)</li>
        <li>Induction: Turbocharged</li>
        <li>Fuel Type: Premium</li>
        <li>Transmisson: 7-speed automatic</li>
        <li>Drivetrain: RWD</li>
      </ul>
      <form action="/charge" method="post">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_orC3gRfxKijfAbeupeFu37o700IGVnbq0H" data-amount="800"
          data-descripton="You just bought a brand new Koenigsegg Agera" data-locale="auto" data-curreny="gbp"></script>
      </form>
    </div>
  </div>
</body>

</html>
