*
{
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}
body
{   background: #050801;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-decoration: none;

}
.container
{
   margin-left: 400px;
}
a
{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    /*overflow hidden*/
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    margin-left: 10px;
}
.text
{
    padding-left: 130px;
}
p
{
    padding-left: 180px;
    text-decoration: none;

}
.quote
{   
    padding-left: 80px;
    font-size: 80px;
    color: rgb(255, 255, 255);
}
.lead
{
    color: rgb(255, 255, 255);
}

a:hover
{
    background:#03e9f4;
    color: #050801;
    box-shadow: 0 0 200px #03e9f4;
}

a span:nth-child(1)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate4
{
    0%
    {
      left: -100%;  
    }
    50%, 100%
    {
        left: 100%;
    }
}